* {
    font-family:'Titillium Web', sans-serif;
    font-size:14px;
    outline: none;
}
body, div {
    margin:0;
    padding:0;
}
body {
    background:#fff;
    overflow:hidden;
    height:100%;
}
input, button {
    outline:none;
    border:none;
    margin:0;
}
textarea {
    resize:none;
    outline:none;
    border:none;
    background:transparent;
}
.overflow {
    overflow:auto;
}
i.logo {
    font-size: 4em;
}
#admin-panel, #login {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
}
#login {
    background:#E1E1E1;
    z-index:1;
}
#login img {
    margin:0px 25px;
}
#login input, #login button {
    display:block;
    width:100%;
    text-align:center;
    padding:5px 0;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.41);
}
#frm-login {
    position:absolute;
    width:210px;
    height:210px;
    top:50%;
    left:50%;
    margin:-125px 0 0 -125px;
    padding:20px;
    background:#fff;
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.4);
}
#header {
    background:#F1F1F1;
    width:100%;
    height:70px;
    padding:15px 0;
}
#header i{
    margin-left:20px;
    font-size: 5.5em;
}
#header .lefty {
    position:absolute;
    left:100%;
    top: 15px;
    margin-left:-320px;
    width:300px;
}
#header .lefty a {
    display: inline-block;
    line-height: 70px;
    position: relative;
    float: right;
    color:#676767;
    margin:0 5px;
}
#header .icon {
    font-size:22px;
    cursor:pointer;
}
#tabs {
    overflow:auto;
}
#tabs ul.tabs {
    padding:0;
    margin:10px 0 5px 5px;
    overflow:auto;
}
#tabs ul.tabs li {
    position:relative;
    float:left;
    list-style:none;
    border:#d4d4d4 1px solid;
    border-left:none;
}
#tabs ul.tabs li:nth-child(1) {
    border-left:#d4d4d4 1px solid;
}
#tabs ul.tabs li a {
    display:block;
    width:250px;
    line-height:37px;
    border-top:#F3F3F3 2px solid;
    background:#F3F3F3;
    text-indent:10px;
    color:#222;
    text-decoration:none;
}
#tabs ul.tabs li a.tiny {
    width: 53px;
}
#tabs ul.tabs li a i {
    color:#717171;
    font-size:1.1em;
}
#tabs ul.tabs li a:hover, #tabs ul.tabs li.select a {
    border-top:#717171 2px solid;
}
#tabs ul.tabs li.select a {
    background:#fff;
}
#tabs ul.tabs li.select {
    border-bottom:#fff 1px solid;
}
#tabs ul.tabs li a:hover i, #tabs ul.tabs li.select a i {
    color:#222;
}
#tabs-area {
    position:relative;
    border-top:#d9d9d9 1px solid;
    margin:0 5px;
}
#tabs-area .tab {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    display:none;
}
.list, .body {
    position:relative;
    float:left;
    height:100%;
    overflow:auto;
}
.list {
    width:350px;
    border-right:#d4d4d4 1px solid;
    margin-right:5px;
}
.body {
    border-left:#d4d4d4 1px solid;
}
.body.full {
    width: 100%!important;
}
.row {
    position: relative;
    background:#EDEDED;
    overflow:hidden;
    width:95%;
    padding:5px 2.5%;
    border-bottom:#d4d4d4 1px solid;
    height: 120px;
}
.row img {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.row p {
    position: relative;
    margin: 1px 2px;
    color: #fff;
    z-index: 1;
    font-weight: 600;
}
.row p small {
    display: block;
    font-weight: 300;
    font-size: 0.9em;
}
.row a.icon-trash {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    padding: 7px;
    border-radius: 20px;
    z-index: 2;
}
.msm .row {
    background:#fff;
    padding:7px 0;
    margin:0 2.5%;
    cursor:default;
}
.row.new {
    background:#fff;
}
.row.select {
    background:#F9F9E0;
}
.row.new, .row.unread, .msm .row {
    font-weight:600;
}
.row .maddress span {
    float:right;
}
.row .mcontent, .row .mtitle {
    width:99999px;
}
.row .mcontent {
    font-weight:400;
    color:#777;
}
.msm .row .mcontent {
    width:100%;
}
.msm {
    width:100%;
    overflow:auto;
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.41);
}
.body input.estira, .body button.estira, .body select.estira {
    width: 100%;
    padding:10px 0;
}
.body .estira, #news .body textarea {
    width: 100%;
    margin: 3px 0;
}
#chat.tab {
    display:block;
}
#chat .list h2 {
    font-size: 1.5em;
}
#chat .row {
    height: auto;
}
#chat .row p a {
    color: #000;
    text-decoration: none;
}
#chat .row p a:hover {
    text-decoration: underline;
}
#descripcion {
    width: 100%;
    height: 250px;
    overflow: auto;
}
#news .body {
    overflow:auto;
}
#news .body textarea {
    height: 160px;
}
#news .body .editme {
    height: 550px;
}
#news .list h2 {
    font-size: 1.5em;
}
#news .row p {
    text-shadow: 0 0 2px #fff;
    font-size: 1.3em;
    color: #000;
}
#newstitle, #newsimage {
    position:relative;
    float:left;
    font-size:22px;
    width:60%;
}
#newsimage {
    width:40%;
}
#newsresume {
    width:100%;
    height:50px;
}
#newstags {
    font-size:20px;
}
#newssave {
    font-size: 22px;
    width: 80px;
    padding:0;
    height: 50px;
}
#people .body {
    overflow: auto;
}
#people .row {
    height: 30px;
}
#people .row a {
    top: 5px;
}
#people .row p {
    font-size: 1.2em;
    line-height: 30px;
    color: #000;
}
#installation .row {
    height: 50px;
}
#installation .row p {
    font-weight: 600;
    cursor: pointer;
    color: #000;
}
#installation .row a {
    top: 15px;
}
#installation .row p:hover {
    text-decoration: underline;
}
#installation .row p small {
    font-weight: 300;
    font-size: 0.8em;
}
.footbar {
    overflow:auto;
}
#photos.tab {
    overflow:hidden;
}
#location_bar {
    width: 100%;
    height: 39px;
    margin: 2px 0;
}
#location_bar button {
    position: relative;
    float: left;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    font-size: 22px;
}
#location {
    position: relative;
    float: left;
    overflow: hidden;
}
#location ul {
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 99999px;
    list-style: none;
}
#location li {
    position: relative;
    float: left;
    display: block;
    margin: 0 2px;
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
}
#location li:hover {
    text-decoration: underline;
}
#explorer {
    position: relative;
    float: left;
    overflow: auto;
    width: 100%;
}
#explorer .item {
    position: relative;
    float: left;
    width: 120px;
    height: 140px;
    overflow: hidden;
    border: #FFF 1px solid;
    cursor: pointer;
    margin: 2px;
}
#explorer .item .center {
    display: block;
    overflow: hidden;
    position: relative;
    height: 94px;
    width: 100%;
}
#explorer .item img {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#explorer .item p {
    width: 116px;
    margin: 0 2px;
    text-align: center;
}
#explorer .item:hover, #explorer .item.select {
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.41);
}
#explorer img.preview {
    position: relative;
    float: left;
    display: block;
    max-width: 600px;
    max-height: 400px;
}
#explorer .file-info {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 350px;
}
#explorer .file-info ul {
    padding: 0;
}
#explorer .file-info li {
    list-style: none;
}
#explorer .file-info li b {
    display: inline-block;
    width: 105px;
}
#explorer input {
    width: 100%;
}
#explorer .item textarea {
    width: 100%;
    height: 44px;
    text-align: center;
    overflow: hidden;
}
.eliminable {
    background: #E30B13;
    color: #FFF;
    padding: 5px 10px;
}
#loadfile {
    position: fixed;
    top: -999px;
    left: -999px;
    z-index: 0;
}
#newperson label, #newperson input, #newperson textarea, #newperson button {
    width: 100%;
}
#newperson textarea {
    height: 70px;
}
#newperson button {
    background: #E30B13;
    padding: 10px 0;
    color: #fff;
}
#newinstall label, #newinstall input, #newinstall textarea, #newinstall button {
    width: 100%;
}
#newinstall textarea {
    height: 70px;
}
#newinstall button {
    background: #E30B13;
    padding: 10px 0;
    color: #fff;
}
.photoshot {
    position:relative;
    float:left;
    width:200px;
    height:200px;
    overflow: hidden;
    margin: 5px;
}
.photoshot .edinson {
    position:absolute;
    background:url(res/00070.png) repeat;
    width:200;
    height:200;
    top:0;
    left:0;
    cursor:pointer;
}
.photoshot a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    background: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    font-weight: bold;
}
.photoshot .edinson h2, .photoshot .edinson p {
    color:#fff;
    margin:10px 10px 60px 10px;
}
.photoshot .edinson h2 {
    font-size:1.2em;
}
.photoshot .edinson p {
    font-size:0.9em;
}
#map-canvas {
    width: 100%;
    height: 320px;
}
#mapflow {
    width: 100%;
    height: 400px;
}
.ahoy {
    position: relative;
    overflow: hidden;
}
.ahoy canvas {
    position: relative;
    z-index: 0;
}
.ahoy .zoom {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.ahoy .zoom a {
    position: relative;
    float: left;
    display: block;
    padding: 10px;
    background: #fff;
    border: #e1e1e1 1px solid;
    border-radius: 3px;
    box-shadow: #676767 0 2px 3px;
    cursor: pointer;
}
#config-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    display: none;
    z-index: 9999;
}
#forms {
    position: absolute;
    width: 350px;
    height: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: #676767 0 0 5px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#forms input, #forms button {
    width: 100%;
    padding: 6px 0;
    margin: 2px 0;
}
#forms .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: -10px -10px 0 0;
    cursor: pointer;
    font-size: 2.0em;
}
.s25, .s75 {
    position: relative;
    float: left;
}
.s75 {
    width: 75%;
}
.s25 {
    width: 25%;
}
.red {
    background: red;
    color: white;
}